.addpost_container {
  background: #fff;
  width: 500px;
  height: auto;
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: 100px 100px 100px 100px 100px;
  box-shadow: 10px 10px 20px -5px rgba(0, 0, 0, 0.25);
  margin: 20px;
}
.addpost_avatar {
  grid-column: 1/2;
  margin: 15px;
  height: 70px;
  position: relative;
  cursor: pointer;
}

.addpost_avatar img {
  width: 100%;
  border-radius: 50%;
  object-fit: contain;
}
.addpost_avatar span {
  display: none;
  font-size: 13px;
  font-weight: 600;
  position: absolute;
  z-index: 1;
  left: 8px;
  bottom: 9px;
}

.addpost_avatar:hover span {
  display: block;
}

.addpost_avatar:hover:after {
  content: '';
  vertical-align: bottom;
  width: 100%;
  height: 70px;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  background: linear-gradient(transparent 65%, rgba(255, 255, 255, 0.75) 35%);
}

.addpost_container textarea {
  grid-row: 1/2;
  grid-column: 2/-1;
  min-height: 100px;
  margin: 15px;
}

.addpost_container input {
  grid-row: 2/-1;
  grid-column: 1/3;
  margin: 15px;
}

.addpost_container button {
  grid-row: 2/-1;
  grid-column: 4/-1;
  margin: 15px;
}
